<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <h1>Login</h1>
    <h6>Username</h6>
    <form action="login" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <h6>Password</h6>
        <input type="password" name="password"><br>
        <button type="submit">Login</button>
    </form>
    
</body>
</html>